/* TODO: line up property values with ./theme.ts OR add automation that outputs design tokens for both CSS (SCSS?) and TS */
.marker {
  /* Pin */
  width: 26.2px;
  height: 41px;
  background-image: url("/marker.svg");
  background-size: cover;
  border-radius: 0;
}

.mapboxgl-ctrl-group button {
  width: 40px;
  height: 40px;
}

.mapboxgl-ctrl-bottom-right {
  margin-right: 16px;
}
